Repository therealsamyak/liars-dice: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, prettier

ruff-check:
  run: uvx ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: uvx ruff format {staged_files}
  stage_fixed: true

prettier:
  run: bunx prettier --write {staged_files} || true
  stage_fixed: true

initial liars dice implementation
  main.py
  src/__init__.py
  src/game_state.py
  src/opponent_policies.py
  src/policy.py
  src/probability.py
  src/rules.py
  src/simulation.py
Due: ruff-check, ruff-format

2 player liar's dice
  MATH.md
Due: prettier

readme update
  README.md
Due: prettier

updated variable names to match math.md
  src/opponent_policies.py
  src/policy.py
  src/probability.py
  src/rules.py
  src/simulation.py
Due: ruff-check, ruff-format

more ai prompts
  README.md
  prompts/cursor_implement_liar_s_dice_simulation.md
Due: prettier

better liars dice rules
  MATH.md
  generate_policy.py
  main.py
  src/dp_solver.py
  src/opponent_policies.py
  src/policy.py
  src/rules.py
Due: ruff-check, ruff-format, prettier

minor fixes
  MATH.md
  README.md
  src/policy.py
Due: ruff-check, ruff-format, prettier

reinforcement learning math added
  .prettierignore
  MATH2.md
  prompts/cursor_create_math2_md_for_liar_s_dice.md
Due: prettier

Added vibe coded implementation
  RL_README.md
  main.py
  parameters.py
  pyproject.toml
  src/q_learning_agent.py
  src/rl_agent.py
  src/rl_policy.py
  src/rl_utils.py
  src/simulation.py
  train_rl.py
Due: ruff-check, ruff-format, prettier

Path conditions:
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  prettier: any of: *.{yml,yaml,md}
